<main>
    <section class="balance">
        <h4>Total balance</h4>
        <p
            [ngClass]="{
                available: account.totalAvailable >= 0,
                debt: account.totalAvailable < 0
            }"
        >
            {{ account.totalAvailable | currency }}
        </p>
    </section>

    <section class="chart">
        <canvas id="resumeChartCanvas">{{ chart }}</canvas>
    </section>

    <section class="transaction-record">
        <h4>TRANSACTION</h4>
        <form action="">
            <label for="category">
                <span>Category:</span>
                <div class="input-container">
                    <div class="icon-container">
                        <ng-icon name="heroTag" color="white" size="15"></ng-icon>
                    </div>
                    <select id="category" name="category" style="color: gray;">
                        <option hidden>Select Category</option>
                        <option [value]="c.id" *ngFor="let c of categories">
                            {{ c.name }}
                        </option>
                    </select>
                </div>
            </label>
            <app-input label="title" title="Title" name="title" />
            <app-input
                label="description"
                title="Description"
                name="description"
                placeholder="Enter Description"
                icon="heroDocumentText"
            />
            <app-input
                label="total"
                title="Total"
                name="total"
                type="number"
                placeholder="Enter Transaction Value"
                icon="heroCurrencyDollar"
            />
            <app-button />
        </form>
    </section>

    <section class="last-transactions">
        <h4>LAST</h4>
        <app-transactions [transactions]="transactions"/>
    </section>
</main>
