div.modal-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(245, 245, 245, 0.562);
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    div.modal-container {
        position: absolute;
        min-width: 200px;
        min-height: 150px;
        background-color: white;
        border-radius: 4px;
        box-shadow: 0px 0px 10px 0px rgba(158,158,158,1);

        z-index: 4;

        > span.modal-container__elem-to-close {
            position: absolute;
            top: 0;
            right: 0;
            padding: 10px;
            cursor: pointer;
        }
    }
}