label {
    display: grid;
    font-size: 1rem;
    span {
        color: #094479;
        padding: 2px 0;
    }
    div.input-container {
        display: grid;
        grid-template-columns: 25px 1fr;
        border: 1px solid gray;
        border-radius: 25px;
        div.icon-container {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            justify-self: center;
            align-self: center;
            background: linear-gradient(180deg, rgba(9,68,121,1) 35%, rgba(0,212,255,1) 100%);
            display: flex;
            align-items: center;
            justify-content: center;
        }
        input {
            font-size: 1rem;
            border: none;
            border-radius: 25px;
            padding: 7px;
            &:focus {
                outline: none;
            }
        }
    }
}