div.category {
    display: grid;
    grid-template-columns: 20px auto auto;
    gap: 10px;
    cursor: pointer;

    div.icon-container {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        z-index: 1;
        background-color: white;
        box-shadow: 0px 0px 10px 0px rgba(158,158,158,1);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .title {
        font-size: 1.1rem;
        font-weight: bold;
    }

    .available {
        font-size: 1rem;
    }

    .description {
        font-size: 1rem;
        color: gray;
    }

    .total {
        justify-self: end;
        color: #7BB545;
    }
    
    &.expense div.total {
        color: #e84855;
    }
}
