button {
    width: 100%;
    margin-top: 15px;
    padding: 5px;
    background: linear-gradient(-100deg, rgba(9,68,121,1) 35%, rgba(0,212,255,1) 100%);
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}