<div class="transactions-container">
    <div class="month-container" *ngFor="let transactionsByMonth of transactions">
        <h4 class="month">{{transactionsByMonth.month}}</h4>
        <div class="day-container" *ngFor="let transactionsByDay of transactionsByMonth.dailyTransactions">
            <!-- July 01, 2022 -->
            <h5 class="day">{{transactionsByDay.date}}</h5>
            <div class="transaction-container">
                <app-transaction [transaction]="t" *ngFor="let t of transactionsByDay.transactions" />
            </div>
        </div>
    </div>
</div>