* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    // vivid-sky-blue: #00d4ff
    // indigo-dye: #094479
    // red-crayola: #e84855
    // mantis: #7BB545
}
